.nav {
	background-image: linear-gradient(to right, #f0f1f6, #fec4d2);
	border-bottom: 1px solid #d7743b;
	display: flex;
	justify-content: space-between;
	padding: 30px;
    position: sticky;
    top: 0;

	.logo {
		padding: 10px;
		width: 150px;
	}
	
	.nav-items {
		display: flex;
		justify-content: flex-end;
		margin: 0;
		width: 75%;

		.nav-item {
			list-style-type: none;
			padding: 10px;
			text-align: center;
		}
	}

	.link {
		color: #d7743b;
		font-weight: 600;
		position: relative;
		text-decoration: none;

		&.active,
		&:hover {
			color: #a89b28;
			text-decoration: underline;
		}

		&.active::before {
		    background: url('./../../assets/flame.svg') no-repeat;
		    content: ' ';
		    height: 150px;
		    position: absolute;
		    transform: scale(0.35);
		    width: 150px;
		    z-index: 4;
		    top: -90px;
		    left: -55px;
		}
	}
}
